:root{
    --1border:1px solid #000;
}

/* initialize setting */
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
*,*::after,*::before{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    font-size: 16px;
}


/* center the page */
.wrap{
    margin: 0 auto;
}

/* header styling */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--1border);
    padding: 0 30px 0 50px;
    background: rgba(173, 230, 255, 0.05);
    position: fixed;
    width: 100%;
    top: 0;
}

.logo a{
    padding: 10px 15px;
    font-size: 1.2em;
    color: rgba(173, 230, 255,0.7);
    transition: 0.3s ease-out;
}

/* nav-bar styling */
.nav-bar{
    display: flex;
}
.nav-bar li{
    margin: 0 5px;
}
.nav-bar li a{
    display: block;
    padding: 15px 25px;
    /* border: var(--1border); */
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 8px;
    color: rgba(173, 230, 255,0.5);
    transition: 0.2s ease-in-out;
    /* background: rgba(49, 81, 149,0.6); */
}

.nav-bar li a:hover{
    color: rgba(173, 230, 255,0.9);
}

.logo a:hover{
    color: rgba(255, 209, 118, 0.75);
    text-shadow: 0px 0px 8px rgba(255, 137, 3, 0.8);
}


/* Banner's styling */
.banner{
    height: 100vh;
    border: var(--1border);
    align-items: center;
    background: url(https://i.imgur.com/LTJLw1B.jpg) center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;

}
.banner h2{
    /* margin-left: 60px; */
    transform: translate(65px,20px);
    color: rgba(173, 230, 255, 0.25);
    font-size: 7.5em;
    line-height: 1.3em;
    letter-spacing: 8px;
    text-transform:uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}
.banner h2::first-letter{
    /* font-size: 2em; */
}

/* About me section */
.about-me h2,
.my-works h2{
    text-align: center;
}

/* about-me content */
.about-me-content{
    display: flex;
    justify-content: center;
    padding: 5% 10%;
    transform: translateX(60px);
}
/* picture */
.avatar{
    width: 500px;
    height: 600px;
    border: var(--1border);
}

.introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-60px);
}

/* introduce setting */
.my-story,
.my-skills{
    border: var(--1border);
    padding: 5% 10%;
}

.my-story h3,
.my-skills h3{
    text-align: center;
}
/* skill list styling  */
.skill-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-list li{
    width: 45%;
    border: var(--1border);
    padding: 5px 15px;
}

/* My works section */
.my-works{
    padding: 5% 5% 10%;
}

.portfolio{
    width: 80%;
    margin: 0 auto;
}

/* work-list card */
.works-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.works-card li{
    width: 32%;
    height: 400px;
    border: var(--1border);
    margin-bottom: 50px;
    display: inline-block;
}

.works-card .move-down{
    border: 1px solid red;
    transform: translateY(80px);
}

/* Contact me section */
.contact-me{
    padding: 5% 0;
}

.contact-me h2{
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
}

.map,
.form{
    width: 50%;
    height: 500px;
    border: var(--1border);
}

footer{
    border: var(--1border);
    text-align: center;
}