:root{
    --1border:1px solid #000;
}

/* initialize setting */
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
*,*::after,*::before{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    font-size: 16px;
}


/* center the page */
.wrap{
    margin: 0 auto;
}

/* header styling */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--1border);
    padding: 0 30px 0 50px;
    background: rgba(173, 230, 255, 0.05);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.logo a{
    display:block;
    padding: 15px 15px;
    font-size: 1.2em;
    color: rgba(173, 230, 255,0.7);
    transition: 0.2s linear;
    /* border: var(--1border); */
}
.logo h1{
    margin: 0;
}

/* nav-bar styling */
.nav-bar{
    display: flex;
    margin: 0;
}
.nav-bar li{
    margin: 0 5px;
}
.nav-bar li a{
    display: block;
    /* height: 100%; */
    padding: 25px 25px;
    /* border: var(--1border); */
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 8px;
    color: rgba(173, 230, 255,0.5);
    transition: 0.2s ease-in-out;
    /* background: rgba(49, 81, 149,0.6); */
}

.nav-bar li a:hover{
    color: rgba(173, 230, 255,0.9);
}

.logo a:hover{
    color: rgba(255, 209, 118, 0.75);
    text-shadow: 0px 0px 8px rgba(255, 137, 3, 0.8);
}


/* Banner's styling */
.banner{
    height: 100vh;
    border: var(--1border);
    align-items: center;
    background: url(https://i.imgur.com/LTJLw1B.jpg) center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;

}
.banner h2{
    /* margin-left: 60px; */
    transform: translate(65px,20px);
    color: rgba(173, 230, 255, 0.25);
    font-size: 7.5em;
    line-height: 1.3em;
    letter-spacing: 8px;
    text-transform:uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}

/* About me section */
.about-me h2,
.my-works h2{
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: rgba(173, 230, 255,0.7);
}
.about-me{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://i.imgur.com/iuuTRwZ.jpg) center no-repeat;
    /* background: linear-gradient(rgba(4, 3, 56, 0.779),rgb(19, 19, 19),rgb(0, 0, 0)); */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.mask{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
/* about-me content */
.about-me-content{
    display: flex;
    justify-content: center;
    border: var(--1border);
}
/* picture */
.avatar{
    width: 400px;
    border: var(--1border);
    transform: translateX(30px);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar img{
    display: block;
    width: 100%;
    border-radius: 10px;
    /* height: 100%; */
}

.introduce{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-30px);
    padding: 5% 0;
    width: 56%;
}
.introduce p{
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
}

/* introduce setting */
.my-story{
    padding: 10px 10px 10px 30px;
    border-radius: 10px 10px 0 0;
    background: rgba(37, 37, 37, 0.6);
}
.my-skills{
    padding: 10px 10px 10px 30px;
    border-radius: 0 0 10px 10px;
    background: rgba(37, 37, 37, 0.6);
}

.my-story h3,
.my-skills h3{
    text-align: center;
    font-size: 1.5em;
    color: rgba(173, 230, 255,0.7);
}

/* skill list styling  */
.skill-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-list li{
    width: 42%;
    border: var(--1border);
    padding: 5px 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 5px;
    color: #fff;
    font-size: 1.2em;
    /* font-weight: 400; */
}
.skill-list li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--1border);
    top: 0;
    left: 0;
    background: rgba(94, 147, 246, 0.903);
    z-index: -1;
}

/* My works section */
.my-works{
    padding: 80px 0 160px 0;
    background: url(https://images.unsplash.com/photo-1494995536846-47ab0fc5df1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* background-attachment: fixed; */
}
.my-works h2{
    margin-bottom: 80px;
}

.portfolio{
    width: 80%;
    margin: 0 auto;
}

/* work-list card */
.works-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.works-card li{
    width: 30%;
    border: var(--1border);
    margin-bottom: 60px;
    display:block;
    overflow: hidden;
    border-radius: 10px;
}

.works-card .move-down{
    border: 1px solid red;
    transform: translateY(80px);
}

.card a{
    display: block;
    height: 100%;
    position: relative;
}
.card a img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.3s ease-in-out;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0,0.3);
}
.card a:hover img{
    transform: scale(1.1);
}
.card a:hover .overlay{
    display: none;
}

/* Contact me section */
.contact-me{
    padding: 5% 0;
}

.contact-me h2{
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
}

.map,
.form{
    width: 50%;
    height: 500px;
    border: var(--1border);
}

footer{
    border: var(--1border);
    text-align: center;
}